body, html {
    width: 100%;
    height: 100%;  
	background-image:url(../images/bground.png);
}
*
{
    position: relative;
    z-index: auto;
    border: 0;
    padding: 0;
    margin: 0;
    color: #fff;
}
#logo
{
  top: 2%;
    width: 100%;
    height: 30em;
   
    box-shadow: rgba(0,0,0,0.8) 0 0 5em;
}
#iconcontainer
{
    width: 100%;
    top: 5%;
    height: 80%;
    text-align: center;
}
    #iconcontainer div
    {
        font: bold 1.25em verdana;
        line-height: 1.5em;
    }
#iconwrapper
{
    margin: 0 auto;
    text-align: center;
    height: 100%;
}
.icon
{
    width: 100%;
    height: 23%;
    margin: .5%;
    display: inline-block;
    box-shadow: rgba(0,0,0,0.3) 0 0 1em;
    text-decoration: none;
    cursor: pointer;
}
    .icon:hover
    {
        box-shadow: rgba(0,0,0,0.5) 0 0 1.5em;
    }
    .icon:active
    {
        box-shadow: rgba(0,0,0,0.5) 0 0 .1em;
    }
    .icon div
    {
        font-size: 32px !important;
        line-height: 35px !important;
        text-decoration: none;
        text-shadow: rgba(0,0,0,.75) 0 0 .35em;
        position: absolute;
        width: 100%;
        text-align: center;
		 margin:0px;
        bottom: 0;
        padding-bottom: .5em;
    }
.icon1
{
    	background-image:url(../images/icon.gif) !important;
}
.icon2
{
    background-image:url(../images/icon.gif) !important;
}
.icon3
{
    background-color: #e83d56 !important;
}
.icon4
{
    background-color: #78e83d !important;
}
.icon5
{
    background-color: #e6e13e !important;
}
.icon6
{
   opacity: 1;
}
.icon7
{
    background-color: #616161 !important;
	        font-size: 23px !important;
        line-height: 23px !important;
}
.icon8
{
 
   background-image:url(../images/icon.gif) !important;
	 
}
.dev
{

    display: block;
    font-family: Verdana;
    font-size: .55em !important;
    text-align: center;
    padding-top: 1em;
}